(edif character_ram
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2024 8 14 11 9 34)
      (program "SCUBA" (version "Diamond (64-bit) 3.12.1.454"))))
      (comment "D:\fpgaTools\latticeDiamond\diamond\3.12\ispfpga\bin\nt64\scuba.exe -w -n character_ram -lang verilog -synth lse -bus_exp 7 -bb -arch xo2c00 -type bram -wp 10 -rp 0011 -rdata_width 8 -data_width 8 -num_rows 2048 -cascade -1 -memfile d:/fpga_work/md320-256-70e/character_ram.mem -memformat hex ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell DP8KC
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port DIA8
            (direction INPUT))
          (port DIA7
            (direction INPUT))
          (port DIA6
            (direction INPUT))
          (port DIA5
            (direction INPUT))
          (port DIA4
            (direction INPUT))
          (port DIA3
            (direction INPUT))
          (port DIA2
            (direction INPUT))
          (port DIA1
            (direction INPUT))
          (port DIA0
            (direction INPUT))
          (port ADA12
            (direction INPUT))
          (port ADA11
            (direction INPUT))
          (port ADA10
            (direction INPUT))
          (port ADA9
            (direction INPUT))
          (port ADA8
            (direction INPUT))
          (port ADA7
            (direction INPUT))
          (port ADA6
            (direction INPUT))
          (port ADA5
            (direction INPUT))
          (port ADA4
            (direction INPUT))
          (port ADA3
            (direction INPUT))
          (port ADA2
            (direction INPUT))
          (port ADA1
            (direction INPUT))
          (port ADA0
            (direction INPUT))
          (port CEA
            (direction INPUT))
          (port OCEA
            (direction INPUT))
          (port CLKA
            (direction INPUT))
          (port WEA
            (direction INPUT))
          (port CSA2
            (direction INPUT))
          (port CSA1
            (direction INPUT))
          (port CSA0
            (direction INPUT))
          (port RSTA
            (direction INPUT))
          (port DIB8
            (direction INPUT))
          (port DIB7
            (direction INPUT))
          (port DIB6
            (direction INPUT))
          (port DIB5
            (direction INPUT))
          (port DIB4
            (direction INPUT))
          (port DIB3
            (direction INPUT))
          (port DIB2
            (direction INPUT))
          (port DIB1
            (direction INPUT))
          (port DIB0
            (direction INPUT))
          (port ADB12
            (direction INPUT))
          (port ADB11
            (direction INPUT))
          (port ADB10
            (direction INPUT))
          (port ADB9
            (direction INPUT))
          (port ADB8
            (direction INPUT))
          (port ADB7
            (direction INPUT))
          (port ADB6
            (direction INPUT))
          (port ADB5
            (direction INPUT))
          (port ADB4
            (direction INPUT))
          (port ADB3
            (direction INPUT))
          (port ADB2
            (direction INPUT))
          (port ADB1
            (direction INPUT))
          (port ADB0
            (direction INPUT))
          (port CEB
            (direction INPUT))
          (port OCEB
            (direction INPUT))
          (port CLKB
            (direction INPUT))
          (port WEB
            (direction INPUT))
          (port CSB2
            (direction INPUT))
          (port CSB1
            (direction INPUT))
          (port CSB0
            (direction INPUT))
          (port RSTB
            (direction INPUT))
          (port DOA8
            (direction OUTPUT))
          (port DOA7
            (direction OUTPUT))
          (port DOA6
            (direction OUTPUT))
          (port DOA5
            (direction OUTPUT))
          (port DOA4
            (direction OUTPUT))
          (port DOA3
            (direction OUTPUT))
          (port DOA2
            (direction OUTPUT))
          (port DOA1
            (direction OUTPUT))
          (port DOA0
            (direction OUTPUT))
          (port DOB8
            (direction OUTPUT))
          (port DOB7
            (direction OUTPUT))
          (port DOB6
            (direction OUTPUT))
          (port DOB5
            (direction OUTPUT))
          (port DOB4
            (direction OUTPUT))
          (port DOB3
            (direction OUTPUT))
          (port DOB2
            (direction OUTPUT))
          (port DOB1
            (direction OUTPUT))
          (port DOB0
            (direction OUTPUT)))))
    (cell character_ram
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (array (rename WrAddress "WrAddress(10:0)") 11)
            (direction INPUT))
          (port (array (rename RdAddress "RdAddress(10:0)") 11)
            (direction INPUT))
          (port (array (rename Data "Data(7:0)") 8)
            (direction INPUT))
          (port WE
            (direction INPUT))
          (port RdClock
            (direction INPUT))
          (port RdClockEn
            (direction INPUT))
          (port Reset
            (direction INPUT))
          (port WrClock
            (direction INPUT))
          (port WrClockEn
            (direction INPUT))
          (port (array (rename Q "Q(7:0)") 8)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance character_ram_0_0_1
            (viewRef view1 
              (cellRef DP8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "SYNC"))
            (property MEM_LPC_FILE
              (string "character_ram.lpc"))
            (property MEM_INIT_FILE
              (string "character_ram.mem"))
            (property INITVAL_1F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1D
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1C
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1B
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1A
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_19
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_18
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_17
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_16
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_15
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_14
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_13
              (string "0x1DE401E8051841E0A0310E05800EE91085D1E60302E040304008A20188870BE8400A80184531CA3E"))
            (property INITVAL_12
              (string "0x1FC03130401981008A721EC041C2020AEEF180490405C0889C002000AAC301206120451E4100FE82"))
            (property INITVAL_11
              (string "0x01C410605412A1018A5601A9800A411A0831307018AE1000580807E128491004202A800A40418AF3"))
            (property INITVAL_10
              (string "0x01C910406F0060F0480E04A8402A701985400A84008100FE4E12E05108040BE0B1FEC01E8040BC25"))
            (property INITVAL_0F
              (string "0x080E5108021EE520E0E20AE590C058080340427F080D2020250FEC004A800DE0519E8700A8400852"))
            (property INITVAL_0E
              (string "0x0ACF300818080660BA020AC090C258002071D2390240C0907904050082301F07003E2004A6009C10"))
            (property INITVAL_0D
              (string "0x0828004A600208412E040BE040A8490C09403801008571F0300920E0BA120C045098970185313C01"))
            (property INITVAL_0C
              (string "0x01C9008A351F0041C2051D2A10E2D008A4104835198901C2061E0451E0450609C09C530A40403005"))
            (property INITVAL_0B
              (string "0x100411080504A431200100EE5100520B040092050DE21008E101A0E03A35182300FC9C18A6104801"))
            (property INITVAL_0A
              (string "0x006170023D0260D00AC2028051080E1E0451E0410A4030121C0065C01A1300AC90905400CF01DE94"))
            (property INITVAL_09
              (string "0x06ACC1E60101C3C182700429C13A160045F0C034120E50AE450409C18A65062500121C018CC03A30"))
            (property INITVAL_08
              (string "0x1FE400B84413801010751F04C020DF1E40E03A58004501E400020CD1FE20072801DA15048010087E"))
            (property INITVAL_07
              (string "0x062700920E090751F0400B0021EAD01E8040BC500028006E4110E201C85B1FEC00B0030209C0665C"))
            (property INITVAL_06
              (string "0x018580085F042040AC17018D91006F00835040580806F00AA9060580808412E040A4101BE301D284"))
            (property INITVAL_05
              (string "0x012CC0AC941200C06E5C012E11A039100E41CADF1A09E020661E054138301E809082520085D0AA30"))
            (property INITVAL_04
              (string "0x09C10092020ACF301E400B821012C404280062700FC9408A200B0401C6EF1283506066128301E8E9"))
            (property INITVAL_03
              (string "0x0065806410124040A896128041C2040BAF4012C410E9C060C91985201C7F04403130050A60418AF3"))
            (property INITVAL_02
              (string "0x00A800B8441380100815100391004508C9C00A800D2041C20C1661200AB919A251FA210069801CF0"))
            (property INITVAL_01
              (string "0x122C00B00E1D2D20AC051849205E80020F41D2040A4031300E120451A4F607C120806C0A6D91004E"))
            (property INITVAL_00
              (string "0x0BE600B00C07A15048040B8251E4401BE2600ABF0E0131A23005E7504E0E0B07018EE91C4FD00AEF"))
            (property CSDECODE_B
              (string "0b000"))
            (property CSDECODE_A
              (string "0b000"))
            (property WRITEMODE_B
              (string "NORMAL"))
            (property WRITEMODE_A
              (string "NORMAL"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE_B
              (string "NOREG"))
            (property REGMODE_A
              (string "NOREG"))
            (property DATA_WIDTH_B
              (string "4"))
            (property DATA_WIDTH_A
              (string "4")))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance character_ram_0_1_0
            (viewRef view1 
              (cellRef DP8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "SYNC"))
            (property MEM_LPC_FILE
              (string "character_ram.lpc"))
            (property MEM_INIT_FILE
              (string "character_ram.mem"))
            (property INITVAL_1F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1D
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1C
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1B
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1A
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_19
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_18
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_17
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_16
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_15
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_14
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_13
              (string "0x04C620CE260CC660E4760E46604C660CE660CE270CE270CC720EE6204E660EC6704C62044670CC76"))
            (property INITVAL_12
              (string "0x0CC270CC720CC620EC670CC260CC270CC660C4760C4660EE6604C270CC67048260C4770CC620EC42"))
            (property INITVAL_11
              (string "0x044660E4670CE720CC6604C6604C660C4660CC7204C660E4660E4660CE760C4670CC620CC260CE66"))
            (property INITVAL_10
              (string "0x04C660E46604E760E8220EC670CC720CC7604C6704E620EC660CE260CE270EC260CC620CE260CC77"))
            (property INITVAL_0F
              (string "0x0E4660CE270CC67084270CE660E4660E4760EC760E4670C4760EC620EC620CC260CC6704C6704C67"))
            (property INITVAL_0E
              (string "0x0CE6604E660E4660EC270EC270EC6604C260CC760CE220EC660EE720EC720CC720CC620EE620CC62"))
            (property INITVAL_0D
              (string "0x0EC620EE620C4670CE270EC260CE760C4760CC2604C670CC720E8220CC670C4660CC66044660CC26"))
            (property INITVAL_0C
              (string "0x04C620CC770CC260CC260CC760CC620CC760EE770CC620CC260C4770C4770C4760EC660CE260CC26"))
            (property INITVAL_0B
              (string "0x0C4760CE260EE760CE2604C670C4670CC720EC260EC6604C66044260CC760CC720CC660CC760EE26"))
            (property INITVAL_0A
              (string "0x04E6704C760CA2204C660CE260CE260C4770C4660CE7704E6604E660EC6704C660EE6704C620CC67"))
            (property INITVAL_09
              (string "0x0CC660CC24044760CC720EC660CC6604E760C4770C4660CE760C4760CE660CC6704E66044660CC72"))
            (property INITVAL_08
              (string "0x0CC720CC770CC2604C670CC760C4660CE260CC7604E670CE720C4260CC720EC4204C660EC2604E26"))
            (property INITVAL_07
              (string "0x0EC720E8220EC670CC720CC2206C620CE260CC670EC620E4760CA2204C660CC620CC270C4760EE66"))
            (property INITVAL_06
              (string "0x0EC6604E760CC260CE67044660C46604E760E4660E46604C760E4660E4670CE260CE670CC620CC67"))
            (property INITVAL_05
              (string "0x04E660EC670CE220EC6604E660C476084270CC660C4760C4660C4660CC720CE270CC6704C660CC72"))
            (property INITVAL_04
              (string "0x0CC620EC270CE6604C720CC6604E660EC620EC720CC660CC620CC5204E660CE660E4660CE720CE66"))
            (property INITVAL_03
              (string "0x04E660CE620EC260CC670CC260CC260CC6604E670CC660E4270CC6604C760EC270CC260CE260CE66"))
            (property INITVAL_02
              (string "0x04C620CC770CC2604C660C4760C4660EC6604C620CC260CC220CC6604C660C4770CC7604E6604C62"))
            (property INITVAL_01
              (string "0x0EC620C8220CC670CE260CC670EC620C4670CC260CC270CC260C4660CE660EC670E4660CE660C466"))
            (property INITVAL_00
              (string "0x0EC620CC220EC660EC260CC670CE720CC7604C660E4670CC520EC660E8260CC7204C660CE6604C64"))
            (property CSDECODE_B
              (string "0b000"))
            (property CSDECODE_A
              (string "0b000"))
            (property WRITEMODE_B
              (string "NORMAL"))
            (property WRITEMODE_A
              (string "NORMAL"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE_B
              (string "NOREG"))
            (property REGMODE_A
              (string "NOREG"))
            (property DATA_WIDTH_B
              (string "4"))
            (property DATA_WIDTH_A
              (string "4")))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef CSB2 (instanceRef character_ram_0_0_1))
              (portRef CSA2 (instanceRef character_ram_0_0_1))
              (portRef CSB1 (instanceRef character_ram_0_0_1))
              (portRef CSA1 (instanceRef character_ram_0_0_1))
              (portRef CSB0 (instanceRef character_ram_0_0_1))
              (portRef CSA0 (instanceRef character_ram_0_0_1))
              (portRef WEB (instanceRef character_ram_0_0_1))
              (portRef ADB1 (instanceRef character_ram_0_0_1))
              (portRef ADA1 (instanceRef character_ram_0_0_1))
              (portRef ADB0 (instanceRef character_ram_0_0_1))
              (portRef ADA0 (instanceRef character_ram_0_0_1))
              (portRef DIB8 (instanceRef character_ram_0_0_1))
              (portRef DIA8 (instanceRef character_ram_0_0_1))
              (portRef DIB7 (instanceRef character_ram_0_0_1))
              (portRef DIA7 (instanceRef character_ram_0_0_1))
              (portRef DIB6 (instanceRef character_ram_0_0_1))
              (portRef DIA6 (instanceRef character_ram_0_0_1))
              (portRef DIB5 (instanceRef character_ram_0_0_1))
              (portRef DIA5 (instanceRef character_ram_0_0_1))
              (portRef DIB4 (instanceRef character_ram_0_0_1))
              (portRef DIA4 (instanceRef character_ram_0_0_1))
              (portRef DIB3 (instanceRef character_ram_0_0_1))
              (portRef DIB2 (instanceRef character_ram_0_0_1))
              (portRef DIB1 (instanceRef character_ram_0_0_1))
              (portRef DIB0 (instanceRef character_ram_0_0_1))
              (portRef CSB2 (instanceRef character_ram_0_1_0))
              (portRef CSA2 (instanceRef character_ram_0_1_0))
              (portRef CSB1 (instanceRef character_ram_0_1_0))
              (portRef CSA1 (instanceRef character_ram_0_1_0))
              (portRef CSB0 (instanceRef character_ram_0_1_0))
              (portRef CSA0 (instanceRef character_ram_0_1_0))
              (portRef WEB (instanceRef character_ram_0_1_0))
              (portRef ADB1 (instanceRef character_ram_0_1_0))
              (portRef ADA1 (instanceRef character_ram_0_1_0))
              (portRef ADB0 (instanceRef character_ram_0_1_0))
              (portRef ADA0 (instanceRef character_ram_0_1_0))
              (portRef DIB8 (instanceRef character_ram_0_1_0))
              (portRef DIA8 (instanceRef character_ram_0_1_0))
              (portRef DIB7 (instanceRef character_ram_0_1_0))
              (portRef DIA7 (instanceRef character_ram_0_1_0))
              (portRef DIB6 (instanceRef character_ram_0_1_0))
              (portRef DIA6 (instanceRef character_ram_0_1_0))
              (portRef DIB5 (instanceRef character_ram_0_1_0))
              (portRef DIA5 (instanceRef character_ram_0_1_0))
              (portRef DIB4 (instanceRef character_ram_0_1_0))
              (portRef DIA4 (instanceRef character_ram_0_1_0))
              (portRef DIB3 (instanceRef character_ram_0_1_0))
              (portRef DIB2 (instanceRef character_ram_0_1_0))
              (portRef DIB1 (instanceRef character_ram_0_1_0))
              (portRef DIB0 (instanceRef character_ram_0_1_0))))
          (net dataout7
            (joined
              (portRef (member Q 0))
              (portRef DOB3 (instanceRef character_ram_0_1_0))))
          (net dataout6
            (joined
              (portRef (member Q 1))
              (portRef DOB2 (instanceRef character_ram_0_1_0))))
          (net dataout5
            (joined
              (portRef (member Q 2))
              (portRef DOB1 (instanceRef character_ram_0_1_0))))
          (net dataout4
            (joined
              (portRef (member Q 3))
              (portRef DOB0 (instanceRef character_ram_0_1_0))))
          (net dataout3
            (joined
              (portRef (member Q 4))
              (portRef DOB3 (instanceRef character_ram_0_0_1))))
          (net dataout2
            (joined
              (portRef (member Q 5))
              (portRef DOB2 (instanceRef character_ram_0_0_1))))
          (net dataout1
            (joined
              (portRef (member Q 6))
              (portRef DOB1 (instanceRef character_ram_0_0_1))))
          (net dataout0
            (joined
              (portRef (member Q 7))
              (portRef DOB0 (instanceRef character_ram_0_0_1))))
          (net WrClockEn
            (joined
              (portRef WrClockEn)
              (portRef OCEA (instanceRef character_ram_0_0_1))
              (portRef CEA (instanceRef character_ram_0_0_1))
              (portRef OCEA (instanceRef character_ram_0_1_0))
              (portRef CEA (instanceRef character_ram_0_1_0))))
          (net clk
            (joined
              (portRef WrClock)
              (portRef CLKA (instanceRef character_ram_0_0_1))
              (portRef CLKA (instanceRef character_ram_0_1_0))))
          (net Reset
            (joined
              (portRef Reset)
              (portRef RSTB (instanceRef character_ram_0_0_1))
              (portRef RSTA (instanceRef character_ram_0_0_1))
              (portRef RSTB (instanceRef character_ram_0_1_0))
              (portRef RSTA (instanceRef character_ram_0_1_0))))
          (net RdClockEn
            (joined
              (portRef RdClockEn)
              (portRef OCEB (instanceRef character_ram_0_0_1))
              (portRef CEB (instanceRef character_ram_0_0_1))
              (portRef OCEB (instanceRef character_ram_0_1_0))
              (portRef CEB (instanceRef character_ram_0_1_0))))
          (net rdclk
            (joined
              (portRef RdClock)
              (portRef CLKB (instanceRef character_ram_0_0_1))
              (portRef CLKB (instanceRef character_ram_0_1_0))))
          (net wren
            (joined
              (portRef WE)
              (portRef WEA (instanceRef character_ram_0_0_1))
              (portRef WEA (instanceRef character_ram_0_1_0))))
          (net datain7
            (joined
              (portRef (member Data 0))
              (portRef DIA3 (instanceRef character_ram_0_1_0))))
          (net datain6
            (joined
              (portRef (member Data 1))
              (portRef DIA2 (instanceRef character_ram_0_1_0))))
          (net datain5
            (joined
              (portRef (member Data 2))
              (portRef DIA1 (instanceRef character_ram_0_1_0))))
          (net datain4
            (joined
              (portRef (member Data 3))
              (portRef DIA0 (instanceRef character_ram_0_1_0))))
          (net datain3
            (joined
              (portRef (member Data 4))
              (portRef DIA3 (instanceRef character_ram_0_0_1))))
          (net datain2
            (joined
              (portRef (member Data 5))
              (portRef DIA2 (instanceRef character_ram_0_0_1))))
          (net datain1
            (joined
              (portRef (member Data 6))
              (portRef DIA1 (instanceRef character_ram_0_0_1))))
          (net datain0
            (joined
              (portRef (member Data 7))
              (portRef DIA0 (instanceRef character_ram_0_0_1))))
          (net raddr10
            (joined
              (portRef (member RdAddress 0))
              (portRef ADB12 (instanceRef character_ram_0_0_1))
              (portRef ADB12 (instanceRef character_ram_0_1_0))))
          (net raddr9
            (joined
              (portRef (member RdAddress 1))
              (portRef ADB11 (instanceRef character_ram_0_0_1))
              (portRef ADB11 (instanceRef character_ram_0_1_0))))
          (net raddr8
            (joined
              (portRef (member RdAddress 2))
              (portRef ADB10 (instanceRef character_ram_0_0_1))
              (portRef ADB10 (instanceRef character_ram_0_1_0))))
          (net raddr7
            (joined
              (portRef (member RdAddress 3))
              (portRef ADB9 (instanceRef character_ram_0_0_1))
              (portRef ADB9 (instanceRef character_ram_0_1_0))))
          (net raddr6
            (joined
              (portRef (member RdAddress 4))
              (portRef ADB8 (instanceRef character_ram_0_0_1))
              (portRef ADB8 (instanceRef character_ram_0_1_0))))
          (net raddr5
            (joined
              (portRef (member RdAddress 5))
              (portRef ADB7 (instanceRef character_ram_0_0_1))
              (portRef ADB7 (instanceRef character_ram_0_1_0))))
          (net raddr4
            (joined
              (portRef (member RdAddress 6))
              (portRef ADB6 (instanceRef character_ram_0_0_1))
              (portRef ADB6 (instanceRef character_ram_0_1_0))))
          (net raddr3
            (joined
              (portRef (member RdAddress 7))
              (portRef ADB5 (instanceRef character_ram_0_0_1))
              (portRef ADB5 (instanceRef character_ram_0_1_0))))
          (net raddr2
            (joined
              (portRef (member RdAddress 8))
              (portRef ADB4 (instanceRef character_ram_0_0_1))
              (portRef ADB4 (instanceRef character_ram_0_1_0))))
          (net raddr1
            (joined
              (portRef (member RdAddress 9))
              (portRef ADB3 (instanceRef character_ram_0_0_1))
              (portRef ADB3 (instanceRef character_ram_0_1_0))))
          (net raddr0
            (joined
              (portRef (member RdAddress 10))
              (portRef ADB2 (instanceRef character_ram_0_0_1))
              (portRef ADB2 (instanceRef character_ram_0_1_0))))
          (net waddr10
            (joined
              (portRef (member WrAddress 0))
              (portRef ADA12 (instanceRef character_ram_0_0_1))
              (portRef ADA12 (instanceRef character_ram_0_1_0))))
          (net waddr9
            (joined
              (portRef (member WrAddress 1))
              (portRef ADA11 (instanceRef character_ram_0_0_1))
              (portRef ADA11 (instanceRef character_ram_0_1_0))))
          (net waddr8
            (joined
              (portRef (member WrAddress 2))
              (portRef ADA10 (instanceRef character_ram_0_0_1))
              (portRef ADA10 (instanceRef character_ram_0_1_0))))
          (net waddr7
            (joined
              (portRef (member WrAddress 3))
              (portRef ADA9 (instanceRef character_ram_0_0_1))
              (portRef ADA9 (instanceRef character_ram_0_1_0))))
          (net waddr6
            (joined
              (portRef (member WrAddress 4))
              (portRef ADA8 (instanceRef character_ram_0_0_1))
              (portRef ADA8 (instanceRef character_ram_0_1_0))))
          (net waddr5
            (joined
              (portRef (member WrAddress 5))
              (portRef ADA7 (instanceRef character_ram_0_0_1))
              (portRef ADA7 (instanceRef character_ram_0_1_0))))
          (net waddr4
            (joined
              (portRef (member WrAddress 6))
              (portRef ADA6 (instanceRef character_ram_0_0_1))
              (portRef ADA6 (instanceRef character_ram_0_1_0))))
          (net waddr3
            (joined
              (portRef (member WrAddress 7))
              (portRef ADA5 (instanceRef character_ram_0_0_1))
              (portRef ADA5 (instanceRef character_ram_0_1_0))))
          (net waddr2
            (joined
              (portRef (member WrAddress 8))
              (portRef ADA4 (instanceRef character_ram_0_0_1))
              (portRef ADA4 (instanceRef character_ram_0_1_0))))
          (net waddr1
            (joined
              (portRef (member WrAddress 9))
              (portRef ADA3 (instanceRef character_ram_0_0_1))
              (portRef ADA3 (instanceRef character_ram_0_1_0))))
          (net waddr0
            (joined
              (portRef (member WrAddress 10))
              (portRef ADA2 (instanceRef character_ram_0_0_1))
              (portRef ADA2 (instanceRef character_ram_0_1_0))))))))
  (design character_ram
    (cellRef character_ram
      (libraryRef ORCLIB)))
)
