(edif font_rom
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2024 8 15 9 26 21)
      (program "SCUBA" (version "Diamond (64-bit) 3.12.1.454"))))
      (comment "D:\fpgaTools\latticeDiamond\diamond\3.12\ispfpga\bin\nt64\scuba.exe -w -n font_rom -lang verilog -synth lse -bus_exp 7 -bb -arch xo2c00 -type rom -addr_width 10 -num_rows 1024 -data_width 8 -outdata UNREGISTERED -memfile d:/fpga_work/md320-256-70e/font_rom.mem -memformat hex ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell MUX41
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port D0
            (direction INPUT))
          (port D1
            (direction INPUT))
          (port D2
            (direction INPUT))
          (port D3
            (direction INPUT))
          (port SD1
            (direction INPUT))
          (port SD2
            (direction INPUT))
          (port Z
            (direction OUTPUT)))))
    (cell ROM256X1A
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port AD7
            (direction INPUT))
          (port AD6
            (direction INPUT))
          (port AD5
            (direction INPUT))
          (port AD4
            (direction INPUT))
          (port AD3
            (direction INPUT))
          (port AD2
            (direction INPUT))
          (port AD1
            (direction INPUT))
          (port AD0
            (direction INPUT))
          (port DO0
            (direction OUTPUT)))))
    (cell font_rom
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (array (rename Address "Address(9:0)") 10)
            (direction INPUT))
          (port (array (rename Q "Q(7:0)") 8)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance mem_0_7
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_0_6
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_0_5
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_0_4
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_0_3
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_0_2
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_0_1
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_0_0
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_1_7
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000800000000000000000000")))
          (instance mem_1_6
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000500000003E01000000002A00000048620014000000")))
          (instance mem_1_5
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0608240000001E360730397F3666407F03000800083E0000007A66127F030600")))
          (instance mem_1_4
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0F1C244100003F7F0F797D7F7F6F404D06000800081C1C4100370C3A7F035F00")))
          (instance mem_1_3
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x59362463666669497949455349497F590C6008603E1C3E63005D186B14005F00")))
          (instance mem_1_2
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x51632436E6664949714B451649597F71186008E03E3E633E034F306B7F030600")))
          (instance mem_1_1
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0341241C80004F7F037E671C6373427F30000880082A411C077A662E7F030000")))
          (instance mem_1_0
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0200240800000636033C27182262403E60000800080800000430462414000000")))
          (instance mem_2_7
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x8000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_2_6
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x80080060007300437F000000006600061C7F7F70630100007203631C2236001E")))
          (instance mem_2_5
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x800C0030006707677F1F7F03327F5E0F3E7F7F60773F007F7301413E637F7C1F")))
          (instance mem_2_4
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x80067F18414D4F3C303F7F4173197F0963180E401C7F417F511D5D6341497E5D")))
          (instance mem_2_3
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x80037F0C415978181860407F59097149410C1C4108417F08414949414149135D")))
          (instance mem_2_2
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x800641067F71783C3060407F4D7F217F63060E7F7F407F08637F7F7F637F1341")))
          (instance mem_2_1
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x800C41037F634F677F3F7F416F7F3F7F3E7F7F7F7F70417F3E7F7F7F3E7F7E7F")))
          (instance mem_2_0
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x80080001004707437F1F7F0326411E411C7F7F414130007F1C4141411C417C3E")))
          (instance mem_3_7
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0000000000000000000000000000000000000000000000000000000000000000")))
          (instance mem_3_6
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x00010000000000443C0040000018841800007800440000780400004000304000")))
          (instance mem_3_5
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x0003080041647C6C7C1C7C24241CFC3C38787C006C7D007C7C02187F28787800")))
          (instance mem_3_4
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x00020877414CFC38703C3C447404F8247C7C1C4038FD4004F8035C3F6C483C04")))
          (instance mem_3_3
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x00033E77775CA0103860407F544CA4A44404387F10807D08A449544944485407")))
          (instance mem_3_2
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x000177003E74A0387060403E547824F84404187F7F807D7FA47F5448443F5403")))
          (instance mem_3_1
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x000341000864BC6C7C3C7C045C7C3CFC7C7C7C417FE0447FBC7E7C787C7F7400")))
          (instance mem_3_0
            (viewRef view1 
              (cellRef ROM256X1A))
            (property initval
              (string "0x00024100084C9C443C1C3C0048441884387C7C00416000419848383038412000")))
          (instance mux_7
            (viewRef view1 
              (cellRef MUX41)))
          (instance mux_6
            (viewRef view1 
              (cellRef MUX41)))
          (instance mux_5
            (viewRef view1 
              (cellRef MUX41)))
          (instance mux_4
            (viewRef view1 
              (cellRef MUX41)))
          (instance mux_3
            (viewRef view1 
              (cellRef MUX41)))
          (instance mux_2
            (viewRef view1 
              (cellRef MUX41)))
          (instance mux_1
            (viewRef view1 
              (cellRef MUX41)))
          (instance mux_0
            (viewRef view1 
              (cellRef MUX41)))
          (net mdL0_0_3
            (joined
              (portRef D3 (instanceRef mux_7))
              (portRef DO0 (instanceRef mem_3_7))))
          (net mdL0_0_2
            (joined
              (portRef D2 (instanceRef mux_7))
              (portRef DO0 (instanceRef mem_2_7))))
          (net mdL0_0_1
            (joined
              (portRef D1 (instanceRef mux_7))
              (portRef DO0 (instanceRef mem_1_7))))
          (net mdL0_0_0
            (joined
              (portRef D0 (instanceRef mux_7))
              (portRef DO0 (instanceRef mem_0_7))))
          (net mdL0_1_3
            (joined
              (portRef D3 (instanceRef mux_6))
              (portRef DO0 (instanceRef mem_3_6))))
          (net mdL0_1_2
            (joined
              (portRef D2 (instanceRef mux_6))
              (portRef DO0 (instanceRef mem_2_6))))
          (net mdL0_1_1
            (joined
              (portRef D1 (instanceRef mux_6))
              (portRef DO0 (instanceRef mem_1_6))))
          (net mdL0_1_0
            (joined
              (portRef D0 (instanceRef mux_6))
              (portRef DO0 (instanceRef mem_0_6))))
          (net mdL0_2_3
            (joined
              (portRef D3 (instanceRef mux_5))
              (portRef DO0 (instanceRef mem_3_5))))
          (net mdL0_2_2
            (joined
              (portRef D2 (instanceRef mux_5))
              (portRef DO0 (instanceRef mem_2_5))))
          (net mdL0_2_1
            (joined
              (portRef D1 (instanceRef mux_5))
              (portRef DO0 (instanceRef mem_1_5))))
          (net mdL0_2_0
            (joined
              (portRef D0 (instanceRef mux_5))
              (portRef DO0 (instanceRef mem_0_5))))
          (net mdL0_3_3
            (joined
              (portRef D3 (instanceRef mux_4))
              (portRef DO0 (instanceRef mem_3_4))))
          (net mdL0_3_2
            (joined
              (portRef D2 (instanceRef mux_4))
              (portRef DO0 (instanceRef mem_2_4))))
          (net mdL0_3_1
            (joined
              (portRef D1 (instanceRef mux_4))
              (portRef DO0 (instanceRef mem_1_4))))
          (net mdL0_3_0
            (joined
              (portRef D0 (instanceRef mux_4))
              (portRef DO0 (instanceRef mem_0_4))))
          (net mdL0_4_3
            (joined
              (portRef D3 (instanceRef mux_3))
              (portRef DO0 (instanceRef mem_3_3))))
          (net mdL0_4_2
            (joined
              (portRef D2 (instanceRef mux_3))
              (portRef DO0 (instanceRef mem_2_3))))
          (net mdL0_4_1
            (joined
              (portRef D1 (instanceRef mux_3))
              (portRef DO0 (instanceRef mem_1_3))))
          (net mdL0_4_0
            (joined
              (portRef D0 (instanceRef mux_3))
              (portRef DO0 (instanceRef mem_0_3))))
          (net mdL0_5_3
            (joined
              (portRef D3 (instanceRef mux_2))
              (portRef DO0 (instanceRef mem_3_2))))
          (net mdL0_5_2
            (joined
              (portRef D2 (instanceRef mux_2))
              (portRef DO0 (instanceRef mem_2_2))))
          (net mdL0_5_1
            (joined
              (portRef D1 (instanceRef mux_2))
              (portRef DO0 (instanceRef mem_1_2))))
          (net mdL0_5_0
            (joined
              (portRef D0 (instanceRef mux_2))
              (portRef DO0 (instanceRef mem_0_2))))
          (net mdL0_6_3
            (joined
              (portRef D3 (instanceRef mux_1))
              (portRef DO0 (instanceRef mem_3_1))))
          (net mdL0_6_2
            (joined
              (portRef D2 (instanceRef mux_1))
              (portRef DO0 (instanceRef mem_2_1))))
          (net mdL0_6_1
            (joined
              (portRef D1 (instanceRef mux_1))
              (portRef DO0 (instanceRef mem_1_1))))
          (net mdL0_6_0
            (joined
              (portRef D0 (instanceRef mux_1))
              (portRef DO0 (instanceRef mem_0_1))))
          (net mdL0_7_3
            (joined
              (portRef D3 (instanceRef mux_0))
              (portRef DO0 (instanceRef mem_3_0))))
          (net mdL0_7_2
            (joined
              (portRef D2 (instanceRef mux_0))
              (portRef DO0 (instanceRef mem_2_0))))
          (net mdL0_7_1
            (joined
              (portRef D1 (instanceRef mux_0))
              (portRef DO0 (instanceRef mem_1_0))))
          (net mdL0_7_0
            (joined
              (portRef D0 (instanceRef mux_0))
              (portRef DO0 (instanceRef mem_0_0))))
          (net qdataout7
            (joined
              (portRef (member Q 0))
              (portRef Z (instanceRef mux_7))))
          (net qdataout6
            (joined
              (portRef (member Q 1))
              (portRef Z (instanceRef mux_6))))
          (net qdataout5
            (joined
              (portRef (member Q 2))
              (portRef Z (instanceRef mux_5))))
          (net qdataout4
            (joined
              (portRef (member Q 3))
              (portRef Z (instanceRef mux_4))))
          (net qdataout3
            (joined
              (portRef (member Q 4))
              (portRef Z (instanceRef mux_3))))
          (net qdataout2
            (joined
              (portRef (member Q 5))
              (portRef Z (instanceRef mux_2))))
          (net qdataout1
            (joined
              (portRef (member Q 6))
              (portRef Z (instanceRef mux_1))))
          (net qdataout0
            (joined
              (portRef (member Q 7))
              (portRef Z (instanceRef mux_0))))
          (net addr9
            (joined
              (portRef (member Address 0))
              (portRef SD2 (instanceRef mux_7))
              (portRef SD2 (instanceRef mux_6))
              (portRef SD2 (instanceRef mux_5))
              (portRef SD2 (instanceRef mux_4))
              (portRef SD2 (instanceRef mux_3))
              (portRef SD2 (instanceRef mux_2))
              (portRef SD2 (instanceRef mux_1))
              (portRef SD2 (instanceRef mux_0))))
          (net addr8
            (joined
              (portRef (member Address 1))
              (portRef SD1 (instanceRef mux_7))
              (portRef SD1 (instanceRef mux_6))
              (portRef SD1 (instanceRef mux_5))
              (portRef SD1 (instanceRef mux_4))
              (portRef SD1 (instanceRef mux_3))
              (portRef SD1 (instanceRef mux_2))
              (portRef SD1 (instanceRef mux_1))
              (portRef SD1 (instanceRef mux_0))))
          (net addr7
            (joined
              (portRef (member Address 2))
              (portRef AD7 (instanceRef mem_0_7))
              (portRef AD7 (instanceRef mem_0_6))
              (portRef AD7 (instanceRef mem_0_5))
              (portRef AD7 (instanceRef mem_0_4))
              (portRef AD7 (instanceRef mem_0_3))
              (portRef AD7 (instanceRef mem_0_2))
              (portRef AD7 (instanceRef mem_0_1))
              (portRef AD7 (instanceRef mem_0_0))
              (portRef AD7 (instanceRef mem_1_7))
              (portRef AD7 (instanceRef mem_1_6))
              (portRef AD7 (instanceRef mem_1_5))
              (portRef AD7 (instanceRef mem_1_4))
              (portRef AD7 (instanceRef mem_1_3))
              (portRef AD7 (instanceRef mem_1_2))
              (portRef AD7 (instanceRef mem_1_1))
              (portRef AD7 (instanceRef mem_1_0))
              (portRef AD7 (instanceRef mem_2_7))
              (portRef AD7 (instanceRef mem_2_6))
              (portRef AD7 (instanceRef mem_2_5))
              (portRef AD7 (instanceRef mem_2_4))
              (portRef AD7 (instanceRef mem_2_3))
              (portRef AD7 (instanceRef mem_2_2))
              (portRef AD7 (instanceRef mem_2_1))
              (portRef AD7 (instanceRef mem_2_0))
              (portRef AD7 (instanceRef mem_3_7))
              (portRef AD7 (instanceRef mem_3_6))
              (portRef AD7 (instanceRef mem_3_5))
              (portRef AD7 (instanceRef mem_3_4))
              (portRef AD7 (instanceRef mem_3_3))
              (portRef AD7 (instanceRef mem_3_2))
              (portRef AD7 (instanceRef mem_3_1))
              (portRef AD7 (instanceRef mem_3_0))))
          (net addr6
            (joined
              (portRef (member Address 3))
              (portRef AD6 (instanceRef mem_0_7))
              (portRef AD6 (instanceRef mem_0_6))
              (portRef AD6 (instanceRef mem_0_5))
              (portRef AD6 (instanceRef mem_0_4))
              (portRef AD6 (instanceRef mem_0_3))
              (portRef AD6 (instanceRef mem_0_2))
              (portRef AD6 (instanceRef mem_0_1))
              (portRef AD6 (instanceRef mem_0_0))
              (portRef AD6 (instanceRef mem_1_7))
              (portRef AD6 (instanceRef mem_1_6))
              (portRef AD6 (instanceRef mem_1_5))
              (portRef AD6 (instanceRef mem_1_4))
              (portRef AD6 (instanceRef mem_1_3))
              (portRef AD6 (instanceRef mem_1_2))
              (portRef AD6 (instanceRef mem_1_1))
              (portRef AD6 (instanceRef mem_1_0))
              (portRef AD6 (instanceRef mem_2_7))
              (portRef AD6 (instanceRef mem_2_6))
              (portRef AD6 (instanceRef mem_2_5))
              (portRef AD6 (instanceRef mem_2_4))
              (portRef AD6 (instanceRef mem_2_3))
              (portRef AD6 (instanceRef mem_2_2))
              (portRef AD6 (instanceRef mem_2_1))
              (portRef AD6 (instanceRef mem_2_0))
              (portRef AD6 (instanceRef mem_3_7))
              (portRef AD6 (instanceRef mem_3_6))
              (portRef AD6 (instanceRef mem_3_5))
              (portRef AD6 (instanceRef mem_3_4))
              (portRef AD6 (instanceRef mem_3_3))
              (portRef AD6 (instanceRef mem_3_2))
              (portRef AD6 (instanceRef mem_3_1))
              (portRef AD6 (instanceRef mem_3_0))))
          (net addr5
            (joined
              (portRef (member Address 4))
              (portRef AD5 (instanceRef mem_0_7))
              (portRef AD5 (instanceRef mem_0_6))
              (portRef AD5 (instanceRef mem_0_5))
              (portRef AD5 (instanceRef mem_0_4))
              (portRef AD5 (instanceRef mem_0_3))
              (portRef AD5 (instanceRef mem_0_2))
              (portRef AD5 (instanceRef mem_0_1))
              (portRef AD5 (instanceRef mem_0_0))
              (portRef AD5 (instanceRef mem_1_7))
              (portRef AD5 (instanceRef mem_1_6))
              (portRef AD5 (instanceRef mem_1_5))
              (portRef AD5 (instanceRef mem_1_4))
              (portRef AD5 (instanceRef mem_1_3))
              (portRef AD5 (instanceRef mem_1_2))
              (portRef AD5 (instanceRef mem_1_1))
              (portRef AD5 (instanceRef mem_1_0))
              (portRef AD5 (instanceRef mem_2_7))
              (portRef AD5 (instanceRef mem_2_6))
              (portRef AD5 (instanceRef mem_2_5))
              (portRef AD5 (instanceRef mem_2_4))
              (portRef AD5 (instanceRef mem_2_3))
              (portRef AD5 (instanceRef mem_2_2))
              (portRef AD5 (instanceRef mem_2_1))
              (portRef AD5 (instanceRef mem_2_0))
              (portRef AD5 (instanceRef mem_3_7))
              (portRef AD5 (instanceRef mem_3_6))
              (portRef AD5 (instanceRef mem_3_5))
              (portRef AD5 (instanceRef mem_3_4))
              (portRef AD5 (instanceRef mem_3_3))
              (portRef AD5 (instanceRef mem_3_2))
              (portRef AD5 (instanceRef mem_3_1))
              (portRef AD5 (instanceRef mem_3_0))))
          (net addr4
            (joined
              (portRef (member Address 5))
              (portRef AD4 (instanceRef mem_0_7))
              (portRef AD4 (instanceRef mem_0_6))
              (portRef AD4 (instanceRef mem_0_5))
              (portRef AD4 (instanceRef mem_0_4))
              (portRef AD4 (instanceRef mem_0_3))
              (portRef AD4 (instanceRef mem_0_2))
              (portRef AD4 (instanceRef mem_0_1))
              (portRef AD4 (instanceRef mem_0_0))
              (portRef AD4 (instanceRef mem_1_7))
              (portRef AD4 (instanceRef mem_1_6))
              (portRef AD4 (instanceRef mem_1_5))
              (portRef AD4 (instanceRef mem_1_4))
              (portRef AD4 (instanceRef mem_1_3))
              (portRef AD4 (instanceRef mem_1_2))
              (portRef AD4 (instanceRef mem_1_1))
              (portRef AD4 (instanceRef mem_1_0))
              (portRef AD4 (instanceRef mem_2_7))
              (portRef AD4 (instanceRef mem_2_6))
              (portRef AD4 (instanceRef mem_2_5))
              (portRef AD4 (instanceRef mem_2_4))
              (portRef AD4 (instanceRef mem_2_3))
              (portRef AD4 (instanceRef mem_2_2))
              (portRef AD4 (instanceRef mem_2_1))
              (portRef AD4 (instanceRef mem_2_0))
              (portRef AD4 (instanceRef mem_3_7))
              (portRef AD4 (instanceRef mem_3_6))
              (portRef AD4 (instanceRef mem_3_5))
              (portRef AD4 (instanceRef mem_3_4))
              (portRef AD4 (instanceRef mem_3_3))
              (portRef AD4 (instanceRef mem_3_2))
              (portRef AD4 (instanceRef mem_3_1))
              (portRef AD4 (instanceRef mem_3_0))))
          (net addr3
            (joined
              (portRef (member Address 6))
              (portRef AD3 (instanceRef mem_0_7))
              (portRef AD3 (instanceRef mem_0_6))
              (portRef AD3 (instanceRef mem_0_5))
              (portRef AD3 (instanceRef mem_0_4))
              (portRef AD3 (instanceRef mem_0_3))
              (portRef AD3 (instanceRef mem_0_2))
              (portRef AD3 (instanceRef mem_0_1))
              (portRef AD3 (instanceRef mem_0_0))
              (portRef AD3 (instanceRef mem_1_7))
              (portRef AD3 (instanceRef mem_1_6))
              (portRef AD3 (instanceRef mem_1_5))
              (portRef AD3 (instanceRef mem_1_4))
              (portRef AD3 (instanceRef mem_1_3))
              (portRef AD3 (instanceRef mem_1_2))
              (portRef AD3 (instanceRef mem_1_1))
              (portRef AD3 (instanceRef mem_1_0))
              (portRef AD3 (instanceRef mem_2_7))
              (portRef AD3 (instanceRef mem_2_6))
              (portRef AD3 (instanceRef mem_2_5))
              (portRef AD3 (instanceRef mem_2_4))
              (portRef AD3 (instanceRef mem_2_3))
              (portRef AD3 (instanceRef mem_2_2))
              (portRef AD3 (instanceRef mem_2_1))
              (portRef AD3 (instanceRef mem_2_0))
              (portRef AD3 (instanceRef mem_3_7))
              (portRef AD3 (instanceRef mem_3_6))
              (portRef AD3 (instanceRef mem_3_5))
              (portRef AD3 (instanceRef mem_3_4))
              (portRef AD3 (instanceRef mem_3_3))
              (portRef AD3 (instanceRef mem_3_2))
              (portRef AD3 (instanceRef mem_3_1))
              (portRef AD3 (instanceRef mem_3_0))))
          (net addr2
            (joined
              (portRef (member Address 7))
              (portRef AD2 (instanceRef mem_0_7))
              (portRef AD2 (instanceRef mem_0_6))
              (portRef AD2 (instanceRef mem_0_5))
              (portRef AD2 (instanceRef mem_0_4))
              (portRef AD2 (instanceRef mem_0_3))
              (portRef AD2 (instanceRef mem_0_2))
              (portRef AD2 (instanceRef mem_0_1))
              (portRef AD2 (instanceRef mem_0_0))
              (portRef AD2 (instanceRef mem_1_7))
              (portRef AD2 (instanceRef mem_1_6))
              (portRef AD2 (instanceRef mem_1_5))
              (portRef AD2 (instanceRef mem_1_4))
              (portRef AD2 (instanceRef mem_1_3))
              (portRef AD2 (instanceRef mem_1_2))
              (portRef AD2 (instanceRef mem_1_1))
              (portRef AD2 (instanceRef mem_1_0))
              (portRef AD2 (instanceRef mem_2_7))
              (portRef AD2 (instanceRef mem_2_6))
              (portRef AD2 (instanceRef mem_2_5))
              (portRef AD2 (instanceRef mem_2_4))
              (portRef AD2 (instanceRef mem_2_3))
              (portRef AD2 (instanceRef mem_2_2))
              (portRef AD2 (instanceRef mem_2_1))
              (portRef AD2 (instanceRef mem_2_0))
              (portRef AD2 (instanceRef mem_3_7))
              (portRef AD2 (instanceRef mem_3_6))
              (portRef AD2 (instanceRef mem_3_5))
              (portRef AD2 (instanceRef mem_3_4))
              (portRef AD2 (instanceRef mem_3_3))
              (portRef AD2 (instanceRef mem_3_2))
              (portRef AD2 (instanceRef mem_3_1))
              (portRef AD2 (instanceRef mem_3_0))))
          (net addr1
            (joined
              (portRef (member Address 8))
              (portRef AD1 (instanceRef mem_0_7))
              (portRef AD1 (instanceRef mem_0_6))
              (portRef AD1 (instanceRef mem_0_5))
              (portRef AD1 (instanceRef mem_0_4))
              (portRef AD1 (instanceRef mem_0_3))
              (portRef AD1 (instanceRef mem_0_2))
              (portRef AD1 (instanceRef mem_0_1))
              (portRef AD1 (instanceRef mem_0_0))
              (portRef AD1 (instanceRef mem_1_7))
              (portRef AD1 (instanceRef mem_1_6))
              (portRef AD1 (instanceRef mem_1_5))
              (portRef AD1 (instanceRef mem_1_4))
              (portRef AD1 (instanceRef mem_1_3))
              (portRef AD1 (instanceRef mem_1_2))
              (portRef AD1 (instanceRef mem_1_1))
              (portRef AD1 (instanceRef mem_1_0))
              (portRef AD1 (instanceRef mem_2_7))
              (portRef AD1 (instanceRef mem_2_6))
              (portRef AD1 (instanceRef mem_2_5))
              (portRef AD1 (instanceRef mem_2_4))
              (portRef AD1 (instanceRef mem_2_3))
              (portRef AD1 (instanceRef mem_2_2))
              (portRef AD1 (instanceRef mem_2_1))
              (portRef AD1 (instanceRef mem_2_0))
              (portRef AD1 (instanceRef mem_3_7))
              (portRef AD1 (instanceRef mem_3_6))
              (portRef AD1 (instanceRef mem_3_5))
              (portRef AD1 (instanceRef mem_3_4))
              (portRef AD1 (instanceRef mem_3_3))
              (portRef AD1 (instanceRef mem_3_2))
              (portRef AD1 (instanceRef mem_3_1))
              (portRef AD1 (instanceRef mem_3_0))))
          (net addr0
            (joined
              (portRef (member Address 9))
              (portRef AD0 (instanceRef mem_0_7))
              (portRef AD0 (instanceRef mem_0_6))
              (portRef AD0 (instanceRef mem_0_5))
              (portRef AD0 (instanceRef mem_0_4))
              (portRef AD0 (instanceRef mem_0_3))
              (portRef AD0 (instanceRef mem_0_2))
              (portRef AD0 (instanceRef mem_0_1))
              (portRef AD0 (instanceRef mem_0_0))
              (portRef AD0 (instanceRef mem_1_7))
              (portRef AD0 (instanceRef mem_1_6))
              (portRef AD0 (instanceRef mem_1_5))
              (portRef AD0 (instanceRef mem_1_4))
              (portRef AD0 (instanceRef mem_1_3))
              (portRef AD0 (instanceRef mem_1_2))
              (portRef AD0 (instanceRef mem_1_1))
              (portRef AD0 (instanceRef mem_1_0))
              (portRef AD0 (instanceRef mem_2_7))
              (portRef AD0 (instanceRef mem_2_6))
              (portRef AD0 (instanceRef mem_2_5))
              (portRef AD0 (instanceRef mem_2_4))
              (portRef AD0 (instanceRef mem_2_3))
              (portRef AD0 (instanceRef mem_2_2))
              (portRef AD0 (instanceRef mem_2_1))
              (portRef AD0 (instanceRef mem_2_0))
              (portRef AD0 (instanceRef mem_3_7))
              (portRef AD0 (instanceRef mem_3_6))
              (portRef AD0 (instanceRef mem_3_5))
              (portRef AD0 (instanceRef mem_3_4))
              (portRef AD0 (instanceRef mem_3_3))
              (portRef AD0 (instanceRef mem_3_2))
              (portRef AD0 (instanceRef mem_3_1))
              (portRef AD0 (instanceRef mem_3_0))))))))
  (design font_rom
    (cellRef font_rom
      (libraryRef ORCLIB)))
)
