RVL_ALIAS "main_clock" "main_clock"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VCCIO_DERATE PERCENT 0; 
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
IOBUF PORT "debug_clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "out_display_clock" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "out_display_data" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "out_display_hs" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "out_display_vs" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "debug_out_display_clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_out_display_data" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_out_display_hs" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_out_display_vs" IO_TYPE=LVCMOS33 ;
BLOCK JTAGPATHS ;
LOCATE COMP "out_display_clock" SITE "105" ;
LOCATE COMP "out_display_data" SITE "107" ;
LOCATE COMP "out_display_hs" SITE "100" ;
LOCATE COMP "out_display_vs" SITE "98" ;
LOCATE COMP "debug_out_display_clock" SITE "39" ;
LOCATE COMP "debug_out_display_data" SITE "38" ;
LOCATE COMP "debug_out_display_hs" SITE "42" ;
LOCATE COMP "debug_out_display_vs" SITE "43" ;
VOLTAGE 1.140 V;
